<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_censor %}

<!-- Название у нас будет Product -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1>{{ articles.title }}</h1>
<span>{{ articles.date }}</span>
<span>{{ articles.category }}</span>
<p>{{ articles.description|censor }}</p>
{% endblock content %}
