{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
category_news_list
{% endblock title %}

{% block content %}
{% if is_not_subscriber %}
<p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
{% endif %}
{% if page_obj.paginator.count > 0 %}
<h3> {{ next_sale }} {{ page_obj.paginator.count }}</h3>
{% endif %}
<hr>
{% if category_news_list %}
<table class="table" style="width: 100%;">
    <thead>
        <tr>
            <th>Заголовок</th>
            <th>Дата публикации</th>
            <th>Категории</th>
        </tr>
    </thead>
    <tbody>
        <!-- Для каждого товара будете генерироваться новая строчка,

           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           product — переменная цикла, т.е. наш товар полученный из списка -->
        {% for item in category_news_list %}
        <tr>
            <!-- Не забываем, что переменные в шаблоне ничем не отличаются

                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
            <td>
                <a class="nav-link" href="{% url 'news_detail' pk=item.pk %}">{{ item.title|truncatewords:20}}...</a>
            </td>
            <td>{{ item.date }}</td>
            <td>
                {% for category in item.category.all %}
                <a href="{% url 'category_details' category.id %}">{{ category }}</a>
                {% endfor %}
            </td>
            <td>
                <a href="{% url 'news_update' item.id %}"><u>Редактировать</u></a>
            </td>
            <td>
                <a href="{% url 'news_delete' item.id %}"><u>Удалить</u></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% else %}
<h2>Новостей нет!</h2>
{% endif %}

{# Добавляем пагинацию на страницу #}
{% if page_obj.paginator.count > 0 %}
{# Информация о предыдущих страницах #}
{% if page_obj.has_previous %}
<a href="?page=1">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{# Информация о текущей странице #}
{{ page_obj.number }}

{# Информация о следующих страницах #}
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}
{% endif %}

{% endblock content %}
